/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

config/config.php
mailtest.php
*.txt
/secure/

all_transactions.html
change_password.html
change_pin.html
contact_us.html
deposit_history.html
deposit_list.html
earnings_history.html
faq.html
login.html
investment.html
make_deposit.html
my_account.html
payment_request.html
referral_earnings.html
referrals.html
register.html
tickets.html
upload.html
view_profile.html